{:source-paths ["src" "test"]

 :dependencies [[cljfmt "0.6.4"]]

 :builds
 {:main
  {:exports
   {:activate atom-cljfmt.core/activate
    :deactivate atom-cljfmt.core/deactivate}
   :target :node-library
   :output-dir "lib/js"
   :output-to "lib/main.js"}}}
